/*  styles.css

	CP476 Final Project

	Author 1:  David Moreno-Bautista
	ID 1:      151925580
	Email 1:   more5580@mylaurier.ca

	Author 2:  Xiang Ke
	ID 2:	   150617130
	Email 2:   kexx7130@mylaurier.ca

	Version  2019-03-02
	*/

body{
	font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
	font-size: 0.875em;
	color: black;
	background-image: url(../images/background.png);
	width: 70%;
}

/*------------------------------------------LOG IN */
#loginHeader{
	border: 0.001em solid #4c7a70;
	border-radius: 0.333em;
	background-color: #2d4943;
}
.loginFormTitles{
	color: #dfd7c3;
}
.roundTextBox{
	border-radius: 0.333em;
}
.subButtons{
	border-radius: 0.333em;
	background-color: #70840b;
}
.subButtons:hover{
	color: white;
	background-color: #426328;
	cursor: pointer;
}

/*------------------------------------------SIGN UP */
#signupForm{
	border: 0.001em solid #4c7a70;
	border-radius: 0.333em;
	text-align: center;
}
#signupFormTitle{
	font-size: 2.917em;
	color: #dfd7c3;
	font-weight: bold;
}

#signupSubButton{
	border-radius: 0.333em;
	background-color: #70840b;
	width: 8em;
	height: 2.2em;
	font-size: 2em;
	font-weight: bold;
}
#signupSubButton:hover{
	color: white;
	background-color: #426328;
	cursor: pointer;
}
#signupImg{
	width:36.667em;
	height: 25.5em;
}

/*------------------------------------------HEADER */
.header{
	border: 0.001em solid #4c7a70;
	border-radius: 0.333em;
	background-color: #2d4943;
}
.headerLinks{
	color: #dfd7c3;
	text-decoration: none;
	font-weight: bold;
}
.headerLinks:hover{
	color: white;
	cursor: pointer;
	text-decoration: none;
}
#sessionLink:hover{
	color: #f9f982;
	text-decoration: none;
}
.sessionLinkRun{
	color: #f9f982;
	text-decoration: none;
	font-weight: bold;
}
.sessionLinkRun:hover{
	color: red;
	cursor: pointer;
	text-decoration: none;
}
#logo:hover{
	filter: brightness(1.5);
}
#help{
	padding-top: 0.667em;
	padding-right: 0.833em;
	width: 2.583em;
	height: 2.917em;
}
#help:hover{
	filter: brightness(1.5);
}

/*------------------------------------------FOOTER */
#footer{
	clear: both;
	border-radius: 0.333em;
	background-color: black;
	font-size: 0.792em;
	color: gray;
}
