.topHeader {
    overflow: hidden;
    background-color: #000000;
    width: 900px;
}

.topHeader a {
    float: right;
    color: #f5f5dc;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
}

table tr td {
    width: 200px;
    padding: 5px 0px;
    color: #f5f5dc;
}

h1 {
    color: #f5f5dc;
}

.checkboxText {
    color: #f5f5dc;
}

.rightPortion {
    float: right;
    width: 450px;
}

.leftPortion {
    float: left;
    width: 450px;
}

img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    float: left;
} 

textarea {
    resize:none;
}

.division {
    width: 300px;
    float: left;
}

.division td {
    width: 200px;
    padding: 5px 0px;
    color: #f5f5dc;
}

.board {
    width : 650px;
    height : 550px;
    float: left;
    background-color: white;
}

.chatWindow {
    width : 240px;
    height : 550px;
    float: right;
    background-color: beige;
}

.toolbar {
    overflow: hidden;
    background-color: lightblue;
    width: 650px;
    height: 40px;
    margin-top: 10px;
    float: left;
}

.btn {
    float: left;
    margin: 20px;
}

.toolbarItems {
    font-size: 13px;
    margin: 10px;
    margin-right: 0px;
    float: left;
}
