/*  styles.css

	CP476 Final Project

	Author 1:  David Moreno-Bautista
	ID 1:      151925580
	Email 1:   more5580@mylaurier.ca

	Author 2:  Xiang Ke
	ID 2:	   150617130
	Email 2:   kexx7130@mylaurier.ca

	Version  2019-03-02
	*/

body{
	font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: black;
	background-image: url(../images/background.png);
	max-width: 900px;
	margin: auto;
	padding: 0;
	border: 0;
}

/*------------------------------------------LOG IN */
#loginHeader{
	margin-top: 10px;
	border: 0.009px solid #4c7a70;
	border-radius: 4px;
	height: 64px;
	background-color: #2d4943;
}
.loginFormTitles{
	color: #dfd7c3;
}
.loginFormBox{
	border-radius: 4px;
}
.SubButtons{
	border-radius: 4px;
	background-color: #70840b;
}
.SubButtons:hover{
	color: white;
	background-color: #426328;
	cursor: pointer;
}

/*------------------------------------------SIGN UP */
#signupForm{
	border: 0.009px solid #4c7a70;
	border-radius: 4px;
	margin-top: 30px;
	width: 445px;
	float: left;
}
#signupFormTitle{
	text-align: center;
	margin-top: 10px;
	font-size: 35px;
	color: #dfd7c3;
	font-weight: bold;
}
.signupFormBox{
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 4px;
	width: 420px;
	height: 30px;
}
.signupFormBoxSmall{
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 4px;
	width: 200px;
	height: 30px;
}
#signupSubButton{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: #70840b;
	width: 200px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
}
#signupSubButton:hover{
	color: white;
	background-color: #426328;
	cursor: pointer;
}
#signupImg{
	width:440px;
	height: 306px;
	float: right;
	margin-left:10px;
	margin-top: 10px;
}

/*------------------------------------------HEADER */
#header{
	margin-top: 10px;
	border: 0.009px solid #4c7a70;
	border-radius: 4px;
	height: 30px;
	background-color: #2d4943;
	padding-left: 10px;
	padding-top: 20px;
}
.headerLinks, #sessionLink{
	color: #dfd7c3;
	padding-right: 10px;
	text-decoration: none;
	font-weight: bold;
}
.headerLinks:hover{
	color: white;
}
#sessionLink:hover{
	color: #f9f982;
}

/*------------------------------------------FOOTER */
#footer{
	clear: both;
	border-radius: 4px;
	margin-top: 10px;
	padding-right: 10px;
	background-color: black;
	line-height: 2.7;
	font-size: 9.5px;
	color: gray;
	text-align: right;
}
