/* Top header across all pages */
.topHeader {
    overflow: hidden;
    background-color: #000000;
    width: 900px;
}

.topHeader a {
    float: right;
    color: #f5f5dc;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
}
/* -------------------------- */

/* General over all pages */
h1 {
    color: #f5f5dc;
}
/* -------------------------- */

/* Profile & Profile Edit Pages */
table tr td {
    width: 250px;
    padding: 5px 0px;
    color: #f5f5dc;
}

.checkboxText {
    color: #f5f5dc;
}

.rightPortion {
    float: right;
    width: 450px;
}

.leftPortion {
    float: left;
    width: 450px;
}

img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    float: left;
}

textarea {
    resize:none;
}
/* -------------------------- */


/* Landing Page - different section formats */
.division {
    width: 260px;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    color: lightcyan;
    border-style: solid;
    border-color: lightpink;
    margin: 10px;
    margin-left: 0px;
}

.sessionHeading {
    text-align: center;
}

div a {
    text-decoration: none;
    color: beige;
}

.title {
  float: left;
  width: 190px;
}

.date {
  float: right;
  width: 50px;
}

.sessionClass {
  margin-bottom: 10px;
  border-color: #f6f4f1;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

/* -------------------------- */

/* Whiteboard page - including board, toolbar, and message section*/
.board {
    width : 650px;
    height : 550px;
    float: left;
    background-color: white;
}

.chatWindow {
    width : 240px;
    height : 550px;
    float: right;
    background-color: beige;
}

.toolbar {
    overflow: hidden;
    background-color: lightblue;
    width: 650px;
    height: 40px;
    margin-top: 10px;
    float: left;
}

.toolbarItems {
    font-size: 13px;
    margin: 10px;
    margin-right: 0px;
    float: left;
}

.drawSection {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 5px;
    height:475px;
}

.display {
    margin: 5px;
    height: 35em;
    width: 20em;
}

.enter {
    margin: 5px;
    height: 5em;
    width: 20em;
}

/* -------------------------- */
